
    <div unselectable="on" style="background:#fff;filter:alpha(opacity=10);opacity:.1;left:0px;top:550px;position:fixed;height:100%;width:100%;overflow:hidden;z-index:10000;">
    </div>

    <div style="height:900px" align="middle">
        <iframe id="previewPage" src="{{page}}" width="100%" height="100%"  frameborder="0"  scrolling="auto">
        </iframe>
    </div>

    <!--<script>-->
        <!--var param = window.location.search;-->
        <!--debugger;-->
        <!--var previewPage = param.substring(param.indexOf('/'))-->
        <!--document.getElementById('previewPage').setAttribute('src', previewPage);-->
    <!--</script>-->

