<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="alternate" media="handheld" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Huafa Education Recruitment</title>
	<link rel="Shortcut Icon" href="#">
	<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/external.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../../css/popup.css" />
	<link rel="stylesheet" href="../../../css/remodal.css">
	<link rel="stylesheet" href="../../../css/remodal-default-theme.css">
	<link rel="stylesheet" type="text/css" href="../../../lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../lib/datetimepicker/build/jquery.datetimepicker.min.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/css.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/alpha.css" />
	<script type="text/javascript">
        var youdao_conv_id = 271546;
        var ctx = "h";
	</script>
</head>
<body>
<script type="text/javascript">
    function in_array(needle, haystack) {
        if(typeof needle == 'string' || typeof needle == 'number') {
            for(var i in haystack) {
                if(haystack[i] == needle) {
                    return true;
                }
            }
        }
        return false;
    }
</script>
<div id="body">
	{% include "./header.app.view.html" %}
	<div id="container">
		<div class="clearfix">
			<div class="content_l">
				<div class="fl" id="resume_name">
					<div class="nameShow fl">
						<h1 title="{{resume.resumename}}">{{resume.resumename}}</h1>
						<span class="rename">重命名</span> | <a target="_blank" href="/resume/preview/{{resume._id}}">预览</a>
					</div>
					<form class="fl dn" id="resumeNameForm">
						<input type="text" value="{{resume.resumename}}" name="resumeName" class="nameEdit c9">
						<input type="submit" value="保存"> | <a class="cancel" target="_blank" href="javascript:;">取消</a>
					</form>
				</div><!--end #resume_name-->
				<div class="fr c5" id="lastChangedTime">最后一次更新：<span>{{resume.updated}}</span></div><!--end #lastChangedTime-->
				<div id="resumeScore">
					<div class="score fl">
						<canvas height="120" width="120" id="doughnutChartCanvas" style="width: 120px; height: 120px;"></canvas>
						<div style="" class="scoreVal"><span>{{resume.completeScore}}</span>分</div>
					</div>

					<div class="which fl">
						<div>完善简历才能投递职位</div>
						<span rel="workExperience"><a>完善简历</a></span>
					</div>
				</div><!--end #resumeScore-->

				<div class="profile_box" id="basicInfo">
					<h2>基本信息</h2>
					<span class="c_edit"></span>
					<div class="basicShow">
						<span>
							{% if resume.name %} {{resume.name}} {% endif %}
							{% if resume.gender %} | {{resume.gender}} {% endif %}
							{% if resume.nation %} | {{resume.nation}} {% endif %}
							{% if resume.birthed %} | {{resume.birthed}}<br> {% endif %}
							{% if resume.origin %}  籍贯 {{resume.origin}} {% endif %}
							{% if resume.experience %} | {{resume.experience}} {% endif %}
							{% if resume.domicile %} | {{resume.domicile}} {% endif %}
							{% if resume.politic %} | {{resume.politic}}<br> {% endif %}
							{% if resume.phone %} {{resume.phone}} {% endif %}
							{% if resume.idCard %} | {{resume.idCard}} {% endif %}
							{% if resume.email %} | {{resume.email}}<br> {% endif %}
							{% if resume.address %} {{resume.address}}<br> {% endif %}
							{% if resume.workunit %} {{resume.workunit}} {% endif %}
							{% if resume.post %} | {{resume.post}} {% endif %}
							{% if resume.status %} | {{resume.status}}<br> {% endif %}
							{% if resume.height %} 身高{{resume.height}}cm {% endif %}
							{% if resume.weight %} | 体重{{resume.weight}}kg {% endif %}
							{% if resume.married %} | {{resume.married}} {% endif %}
							{% if resume.child %} | {{resume.child}} {% endif %}
							{% if resume.health %} | 身体状况 {{resume.health}} {% endif %}
							{% if resume.honor %} | {{resume.honor}} {% endif %}
						</span>
						<div class="m_portrait">
							<div></div>
							<img width="120" height="120" alt="{{resume.name}}" src="../../../{{resume.icon}}">
						</div>
					</div><!--end .basicShow-->

					<input type="hidden" id="nameVal" value="{{resume.name}}">
					<input type="hidden" id="nationVal" value="{{resume.nation}}">
					<input type="hidden" id="genderVal" value="{{resume.gender}}">
					<input type="hidden" id="birthedVal" value="{{resume.birthed}}">
					<input type="hidden" id="experienceVal" value="{{resume.experience}}">
					<input type="hidden" id="statusVal" value="{{resume.status}}">
					<input type="hidden" id="telVal" value="{{resume.phone}}">
					<input type="hidden" id="emailVal" value="{{resume.email}}">
					<input type="hidden" id="originVal" value="{{resume.origin}}">
					<input type="hidden" id="domicileVal" value="{{resume.domicile}}">
					<input type="hidden" id="politicVal" value="{{resume.politic}}">
					<input type="hidden" id="idCardVal" value="{{resume.idCard}}">
					<input type="hidden" id="addressVal" value="{{resume.address}}">
					<input type="hidden" id="heightVal" value="{{resume.height}}">
					<input type="hidden" id="weightVal" value="{{resume.weight}}">
					<input type="hidden" id="marriedVal" value="{{resume.married}}">
					<input type="hidden" id="healthVal" value="{{resume.health}}">
					<input type="hidden" id="childVal" value="{{resume.child}}">
					<input type="hidden" id="workunitVal" value="{{resume.workunit}}">
					<input type="hidden" id="postVal" value="{{resume.post}}">
					<input type="hidden" id="honorVal" value="{{resume.honor}}">

					<div class="basicEdit dn">
						<form id="profileForm" >
							<table>
								<tbody>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="hidden" name="_id" id="_id" value="{{resume._id}}">
										<input type="text" placeholder="姓名" value="{{resume.name}}" name="name" id="name">
									</td>
									<td valign="top"></td>
									<td>
										<ul class="profile_radio clearfix reset">
											<li class="current">
												男<em></em>
												<input type="radio" checked="checked" name="gender" value='男'>
											</li>
											<li>
												女<em></em>
												<input type="radio" name="gender" value='女'>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="button" name="nation" id="nation" value="民族" class="profile_select_190 profile_select_normal">
										<div class="boxUpDown boxUpDown_190 dn" id="box_nation" style="display: none;">
											<ul>
												<li>汉族</li>
												<li>傣族</li>
											</ul>
										</div>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="text" id="birthed" value="{{resume.birthed}}" placeholder="出生日期" name="birthed" class="form-control">
									</td>
								</tr>
								<tr>
                                    <td valign="top">
                                        <span class="redstar">*</span>
                                    </td>
                                    <td>
                                        <input name="origin" id="origin" type="text" placeholder="籍贯" onclick="residencySelect()" class="profile_select_normal"/>
                                    </td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="button" name="experience" id="experience" value="工作经验" class="profile_select_190 profile_select_normal">
										<div class="boxUpDown boxUpDown_190 dn" id="box_experience" style="display: none;">
											<ul>
												<li>应届毕业生</li>
												<li>1年</li>
												<li>2年</li>
												<li>3年</li>
												<li>4年</li>
												<li>5年</li>
												<li>6年</li>
												<li>7年</li>
												<li>8年</li>
												<li>9年</li>
												<li>10年</li>
												<li>10年以上</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input name="domicile" id="domicile" type="text" placeholder="现户籍地" onclick="domicileSelect()" class="profile_select_normal"/>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="button" name="politic" id="politic" value="政治面貌" class="profile_select_190 profile_select_normal">
										<div class="boxUpDown boxUpDown_190 dn" id="box_politic" style="display: none;">
											<ul>
												<li>团员</li>
												<li>党员</li>
												<li>群众</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input style="width: 230px;" type="text" placeholder="联系电话" value="" name="tel" id="tel">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td colspan="3">
										<input style="width: 340px;" type="text" placeholder="身份证" value="" name="idCard" id="idCard">
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input style="width: 230px;" type="text" placeholder="接收面试通知的邮箱" value="" name="email" id="email">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td colspan="3">
										<input style="width: 340px;" type="text" placeholder="通讯地址" value="" name="address" id="address">
									</td>
								</tr>
								<tr>
									<td valign="top"> </td>
									<td>
										<input style="width: 230px;" type="text" placeholder="最近工作单位" value="" name="workunit" id="workunit">
									</td>
									<td valign="top"> </td>
									<td>
										<input style="width: 230px;" name="post" id="post" type="text" placeholder="职务" onclick="funtypeSelect_2(1)" class="profile_select_normal"/>
									</td>
								</tr>
                                <tr>
                                    <td valign="top"> </td>
                                    <td colspan="3">
                                        <input type="button" value="目前状态" name="status" id="status" class="profile_select_410 profile_select_normal">
                                        <div class="boxUpDown boxUpDown_410 dn" id="box_status" style="display: none;">
                                            <ul>
                                                <li>我目前已离职，可快速到岗</li>
                                                <li>我目前正在职，正考虑换个新环境</li>
                                                <li>我是应届毕业生</li>
                                                <li>其它</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
								<tr>
									<td valign="top"> </td>
									<td>
										<input style="margin-bottom: 10px" type="text" placeholder="身高/CM" value="" name="height" id="height">
                                        <input type="text" placeholder="体重/KG" value="" name="weight" id="weight" class="form-control">
									</td>
                                    <td valign="top"> </td>
                                    <td colspan="3">
                                        <input style="margin: -2px 0 7px;" type="button" value="婚姻状况" name="married" id="married" class="profile_select_190 profile_select_normal">
                                        <div class="boxUpDown boxUpDown_190 dn" id="box_married" style="display: none;">
                                            <ul>
                                                <li>未婚</li>
                                                <li>已婚</li>
                                                <li>保密</li>
                                            </ul>
                                        </div>
                                        <input type="button" value="子女状况" name="child" id="child" class="profile_select_190 profile_select_normal">
                                        <div class="boxUpDown boxUpDown_190 dn" id="box_child" style="display: none;">
                                            <ul>
                                                <li>无子女</li>
                                                <li>一子女</li>
                                                <li>两子女</li>
                                                <li>三子女及以上</li>
                                            </ul>
                                        </div>
                                    </td>
								</tr>
								<tr>
									<td valign="top"> </td>
									<td colspan="3">
										<input style="width: 410px;" type="text" placeholder="健康状况，请如实填写，如'良好'" name="health" id="health">
									</td>
								</tr>
								<tr>
									<td valign="top"> </td>
									<td colspan="3">
										<input style="width: 410px;" type="text" placeholder="最高荣誉，能直接展现自我价值" name="honor" id="honor">
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
						</form>
						<div class="new_portrait">
							<div class="portrait_upload" id="portraitNo">
								<span>上传自己的头像</span>
							</div>
							<div class="portraitShow dn" id="portraitShow">
								<img width="120" height="120" src="">
								<span>更换头像</span>
							</div>
							<input type="file" value="" title="支持jpg、jpeg、gif、png格式，文件小于5M" onchange="img_check(this,'/api/fileUpload','headPic');" name="headPic" id="headPic" class="myfiles">
							<!-- <input type="hidden" id="headPicHidden" /> -->
							<em>
								尺寸：120*120px <br>
								大小：小于5M
							</em>
							<span style="display:none;" id="headPic_error" class="error"></span>
						</div><!--end .new_portrait-->
					</div><!--end .basicEdit-->
				</div><!--end #basicInfo-->

				<div class="profile_box" id="educationalBackground">
					<h2>教育背景<span>（投递简历时必填）</span></h2>
					<span {% if resume.education.length<=0 %} class = "c_add dn" {%else%}class = "c_add" {% endif %}></span>
					<div class="educationalShow">
						<form class="educationalForm borderBtm dn">
							<table>
								<tbody><tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="text" placeholder="选择学校" name="schoolName" class="schoolName">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="hidden" class="degree" value="" name="degree">
										<input type="button" value="学历" class="profile_select_287 profile_select_normal select_degree">
										<div class="box_degree boxUpDown boxUpDown_287 dn" style="display: none;">
											<ul>
												<li>大专</li>
												<li>本科</li>
												<li>硕士</li>
												<li>博士</li>
												<li>其他</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="text" placeholder="专业名称" name="professionalName" class="professionalName" onclick="majorSelect_2()">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="hidden" class="schoolYearStart" value="" name="schoolYearStart">
											<input type="button" value="开始年份" class="profile_select_139 profile_select_normal select_schoolYearStart">
											<div class="box_schoolYearStart boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="fl">
											<input type="hidden" class="schoolYearEnd" value="" name="schoolYearEnd">
											<input type="button" value="结束年份" class="profile_select_139 profile_select_normal select_schoolYearEnd">
											<div style="display: none;" class="box_schoolYearEnd  boxUpDown boxUpDown_139 dn">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
								</tr>
								<tr>
									<td valign="top">
									</td>
									<td>
										<ul class="education_radio clearfix reset">
											<li class="current" style="width: 50px">
												统招<em></em>
												<input type="radio" checked="checked" name="nature" value='统招'>
											</li>
											<li style="width: 60px">
												非统招<em></em>
												<input type="radio" name="nature" value='非统招'>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
							<input type="hidden" class="eduId" value="">
						</form><!--end .educationalForm-->
						<ul class="elist clearfix">
							{% for edu in resume.education %}
							<li data-id="{{edu._id}}">
								<i class="sm_del"></i>
								<i class="sm_edit"></i>
								<span class="c9" data-startY="{{edu.began}}" data-endY="{{edu.ended}}">
										{{edu.began}} - {{edu.ended}}
								</span>
								<div>
									<h3 data-name="{{edu.school}}">
										{{edu.school}}
									</h3>
									<h4 data-profession="{{edu.profession}}" data-degree="{{edu.degree}}" data-nature="{{edu.nature}}">
										{{edu.degree}} , {{edu.profession}} , {{edu.nature}}
									</h4>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div><!--end .educationalShow-->
					<div class="educationalEdit dn">
						<form class="educationalForm">
							<table>
								<tbody><tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="text" placeholder="选择学校" name="schoolName" class="schoolName">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="hidden" class="degree" value="" name="degree">
										<input type="button" value="学历" class="profile_select_287 profile_select_normal select_degree">
										<div class="box_degree boxUpDown boxUpDown_287 dn" style="display: none;">
											<ul>
												<li>大专</li>
												<li>本科</li>
												<li>硕士</li>
												<li>博士</li>
												<li>其他</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="text" placeholder="专业名称" name="professionalName" class="professionalName" onclick="majorSelect_2()">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="hidden" class="schoolYearStart" value="" name="schoolYearStart">
											<input type="button" value="开始年份" class="profile_select_139 profile_select_normal select_schoolYearStart">
											<div class="box_schoolYearStart boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="fl">
											<input type="hidden" class="schoolYearEnd" value="" name="schoolYearEnd">
											<input type="button" value="结束年份" class="profile_select_139 profile_select_normal select_schoolYearEnd">
											<div class="box_schoolYearEnd  boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
								</tr>
								<tr>
									<td valign="top">
									</td>
									<td>
										<ul class="education_radio clearfix reset">
											<li class="current" style="width: 50px">
												统招<em></em>
												<input type="radio" checked="checked" name="nature" value='统招'>
											</li>
											<li style="width: 60px">
												非统招<em></em>
												<input type="radio" name="nature" value='非统招'>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
							<input type="hidden" class="eduId" value="">
						</form>
					</div>
					<div {% if resume.education.length==0 %} class = "educationalAdd pAdd" {%else%}class = "educationalAdd pAdd dn" {% endif %}>
						<span>添加教育经历</span>
					</div>
				</div>
				<div data-remodal-id="choose-box-wrapper" style="background: #91cebe;padding: 0px;margin-bottom: 100px">
					<div id="choose-box">
						<div id="choose-box-title"> <span>选择学校</span> </div>
						<div id="choose-a-province"> </div>
						<div id="choose-a-school"> </div>
					</div>
				</div>

				<div class="profile_box" id="workExperience">
					<h2>工作经历
						<span></span>
					</h2>
					<span {% if resume.work.length<=0 %} class = "c_add dn" {%else%}class = "c_add" {% endif %}></span>
					<div class="experienceShow">
						<form class="experienceForm borderBtm dn">
							<table>
								<tbody><tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="text" placeholder="公司名称" name="companyName" class="companyName">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="text" placeholder="职位名称" name="positionName" class="positionName">
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="hidden" class="companyYearStart" value="" name="companyYearStart">
											<input type="button" value="开始年份" class="profile_select_139 profile_select_normal select_companyYearStart">
											<div class="box_companyYearStart boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="fl">
											<input type="hidden" class="companyMonthStart" value="" name="companyMonthStart">
											<input type="button" value="开始月份" class="profile_select_139 profile_select_normal select_companyMonthStart">
											<div style="display: none;" class="box_companyMonthStart boxUpDown boxUpDown_139 dn">
												<ul>
													<li>01</li><li>02</li><li>03</li><li>04</li><li>05</li><li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li><li>12</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="hidden" class="companyYearEnd" value="" name="companyYearEnd">
											<input type="button" value="结束年份" class="profile_select_139 profile_select_normal select_companyYearEnd">
											<div class="box_companyYearEnd  boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="fl">
											<input type="hidden" class="companyMonthEnd" value="" name="companyMonthEnd">
											<input type="button" value="结束月份" class="profile_select_139 profile_select_normal select_companyMonthEnd">
											<div style="display: none;" class="box_companyMonthEnd boxUpDown boxUpDown_139 dn">
												<ul>
													<li>01</li><li>02</li><li>03</li><li>04</li><li>05</li><li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li><li>12</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
							<input type="hidden" class="expId" value="">
						</form>
						<ul class="wlist clearfix">
							{% for work in resume.work %}
							<li data-id="{{work._id}}">
								<i class="sm_del"></i>
								<i class="sm_edit"></i>
								<span class="c9" data-startYear="{{work.yearStart}}" data-startMonth="{{work.monthStart}}"
									  data-endYear="{{work.yearEnd}}" data-endMonth="{{work.endMonth}}">
										{{work.yearStart}}.{{work.monthStart}} -{{work.yearEnd}}.{{work.monthEnd}}
								</span>
								<div>
									<h3 data-name="{{work.company}}">
										{{work.company}}
									</h3>
									<h4 data-position="{{work.position}}">
										{{work.position}}
									</h4>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="experienceEdit dn">
						<form class="experienceForm">
							<table>
								<tbody><tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input style="width: 286px" type="text" placeholder="公司名称" name="companyName" class="companyName">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input style="width: 286px" type="text" placeholder="职位名称" name="positionName" class="positionName">
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="hidden" class="companyYearStart" value="" name="companyYearStart">
											<input type="button" value="开始年份" class="profile_select_139 profile_select_normal select_companyYearStart">
											<div class="box_companyYearStart boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="fl">
											<input type="hidden" class="companyMonthStart" value="" name="companyMonthStart">
											<input type="button" value="开始月份" class="profile_select_139 profile_select_normal select_companyMonthStart">
											<div style="display: none;" class="box_companyMonthStart boxUpDown boxUpDown_139 dn">
												<ul>
													<li>01</li><li>02</li><li>03</li><li>04</li><li>05</li><li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li><li>12</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="hidden" class="companyYearEnd" value="" name="companyYearEnd">
											<input type="button" value="结束年份" class="profile_select_139 profile_select_normal select_companyYearEnd">
											<div class="box_companyYearEnd  boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="fl">
											<input type="hidden" class="companyMonthEnd" value="" name="companyMonthEnd">
											<input type="button" value="结束月份" class="profile_select_139 profile_select_normal select_companyMonthEnd">
											<div style="display: none;" class="box_companyMonthEnd boxUpDown boxUpDown_139 dn">
												<ul>
													<li>01</li><li>02</li><li>03</li><li>04</li><li>05</li><li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li><li>12</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
							<input type="hidden" class="expId" value="">
						</form>
					</div>
					<div {% if resume.work.length==0 %} class = "experienceAdd pAdd" {%else%}class = "experienceAdd pAdd dn" {% endif %}>
						<span>添加工作经历</span>
					</div>
				</div>

				<div class="profile_box" id="family">
					<h2>家庭成员</h2>
					<span {% if resume.family.length<=0 %} class = "c_add dn" {%else%}class = "c_add" {% endif %}></span>
					<div class="familyShow">
						<ul class="flist clearfix">
							{% for family in resume.family %}
							<li data-id="{{family._id}}">
								<div class="familyList">
									<i class="sm_del dn"></i>
									<i class="sm_edit dn"></i>
									<div class="f16 mb10 fixed_width" data-name="{{family.name}}" data-relation="{{family.relation}}"
										 data-company="{{family.company}}" data-position="{{family.position}}"
										 data-domicile="{{family.domicile}}">{{family.name}}，{{family.company}}，{{family.position}}
										<span class="c9">（{{family.relation}}）</span>
									</div>
									<div class="dl1">
										{{family.domicile}}
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="familyEdit dn">
						<form class="familyForm">
							<table>
								<tbody>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="text" placeholder="姓名" name="name" id="name">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input type="button" value="" name="relation" id="relation" class="profile_select_190 profile_select_normal select_relation">
										<div class="boxUpDown boxUpDown_190 dn" id="box_relation" style="display: none;">
											<ul>
												<li>父子</li>
												<li>母子</li>
												<li>其它</li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td valign="top"><span class="redstar">*</span></td>
									<td>
										<input type="text" placeholder="工作单位" value="" name="company" id="company">
									</td>
									<td valign="top"><span class="redstar">*</span></td>
									<td>
										<input name="position" id="position" type="text" placeholder="职务" onclick="funtypeSelect_2(2)" />
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input name="domicile" id="domicile" type="text" placeholder="现户籍地" onclick="fdomicileSelect()" />
									</td>
								</tr>
								<tr>
									<td valign="top"></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody>
							</table>
							<input type="hidden" value="" class="familyId">
						</form>
					</div>
					<div {% if resume.family.length==0 %} class = "familyAdd pAdd" {%else%}class = "familyAdd pAdd dn" {% endif %}>
						<span>添加家庭成员</span>
					</div>
				</div>

				<div class="profile_box" id="projectExperience">
					<h2>项目经验</h2>
					<span {% if resume.project.length<=0 %} class = "c_add dn" {%else%}class = "c_add" {% endif %}></span>
					<div class="projectShow">
						<ul class="plist clearfix">
							{% for project in resume.project %}
							<li data-id="{{project._id}}">
								<div class="projectList">
									<i class="sm_del dn"></i>
									<i class="sm_edit dn"></i>
									<div class="f16 mb10 fixed_width" data-proname="{{project.name}}" data-posname="{{project.position}}"
										 data-starty="{{project.yearStart}}" data-startm="{{project.monthStart}}"
										 data-endy="{{project.yearEnd}}" data-endm="{{project.monthEnd}}">{{project.name}}，{{project.position}}
										<span class="c9">（{{project.yearStart}}.{{project.monthStart}}-{{project.yearEnd}}.{{project.monthEnd}}）</span>
									</div>
									<div class="dl1">
										{{project.description}}
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="projectEdit dn">
						<form class="projectForm">
							<table>
								<tbody><tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input style="width: 286px" type="text" placeholder="项目名称" name="projectName" class="projectName">
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<input style="width: 286px" type="text" placeholder="担任职务" name="thePost" class="thePost">
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="hidden" class="projectYearStart" value="" name="projectYearStart">
											<input type="button" value="开始年份" class="profile_select_139 profile_select_normal select_projectYearStart">
											<div class="box_projectYearStart  boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="fl">
											<input type="hidden" class="projectMonthStart" value="" name="projectMonthStart">
											<input type="button" value="开始月份" class="profile_select_139 profile_select_normal select_projectMonthStart">
											<div style="display: none;" class="box_projectMonthStart boxUpDown boxUpDown_139 dn">
												<ul>
													<li>01</li><li>02</li><li>03</li><li>04</li><li>05</li><li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li><li>12</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="hidden" class="projectYearEnd" value="" name="projectYearEnd">
											<input type="button" value="结束年份" class="profile_select_139 profile_select_normal select_projectYearEnd">
											<div class="box_projectYearEnd  boxUpDown boxUpDown_139 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="fl">
											<input type="hidden" class="projectMonthEnd" value="" name="projectMonthEnd">
											<input type="button" value="结束月份" class="profile_select_139 profile_select_normal select_projectMonthEnd">
											<div style="display: none;" class="box_projectMonthEnd boxUpDown boxUpDown_139 dn">
												<ul>
													<li>01</li><li>02</li><li>03</li><li>04</li><li>05</li><li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li><li>12</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
								</tr>
								<tr>
									<td valign="top"></td>
									<td colspan="3">
										<textarea class="projectDescription s_textarea" name="projectDescription" placeholder="项目描述"></textarea>
										<div class="word_count">你还可以输入 <span>500</span> 字</div>
									</td>
								</tr>
								<tr>
									<td valign="top"></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
							<input type="hidden" value="" class="projectId">
						</form>
					</div>
					<div {% if resume.project.length==0 %} class = "projectAdd pAdd" {%else%}class = "projectAdd pAdd dn" {% endif %}>
						<span>添加项目经验</span>
					</div>
				</div>

				<div class="profile_box" id="certificate">
					<h2>证书等级
						<span></span>
					</h2>
					<span {% if resume.certificate.length<=0 %} class = "c_add dn" {%else%}class = "c_add" {% endif %}></span>
					<div class="certificateShow">
						<form class="certificateForm borderBtm dn">
							<table>
								<tbody>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="button" placeholder="证书名称" name="certificateName" class="profile_select_190 profile_select_normal certificateName">
											<div class="box_certificateName boxUpDown boxUpDown_190 dn" style="display: none;">
												<ul>
													<li value="01">外语证书</li>
													<li value="02">计算机证书</li>
													<li value="03">会计证书</li>
													<li value="04">职称证书</li>
													<li value="05">其他证书</li>
												</ul>
											</div>
										</div>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="button" placeholder="证书等级" name="certificateNature" class="profile_select_410 profile_select_normal certificateNature">
											<div class="box_certificateNature boxUpDown boxUpDown_410 dn" style="display: none;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="button" value="获取年份" name="certificateYear" class="profile_select_190 profile_select_normal certificateYear">
											<div class="box_certificateYear  boxUpDown boxUpDown_190 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="button" value="获取月份" name="certificateMonth" class="profile_select_190 profile_select_normal certificateMonth">
											<div style="display: none;" class="box_certificateMonth boxUpDown boxUpDown_190 dn">
												<ul>
													<li>01</li><li>02</li><li>03</li><li>04</li><li>05</li><li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li><li>12</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody>
							</table>
							<input type="hidden" class="certificateId" value="">
						</form>
						<ul class="clist clearfix">
							{% for cert in resume.certificate %}
								<li data-id="{{cert._id}}">
									<i class="sm_del"></i>
									<i class="sm_edit"></i>
									<span class="c9" data-gotYear="{{cert.gotYear}}" data-gotMonth="{{cert.gotMonth}}">
										{{cert.gotYear}}.{{cert.gotMonth}}
									</span>
									<div>
										<h3 data-name="{{cert.name}}">
											{{cert.name}}
										</h3>
										<h4 data-nature="{{cert.nature}}">
											{{cert.nature}}
										</h4>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="certificateEdit dn">
						<form class="certificateForm">
							<table>
								<tbody>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="button" placeholder="证书名称" name="certificateName" class="profile_select_190 profile_select_normal certificateName">
											<div class="box_certificateName boxUpDown boxUpDown_190 dn" style="display: none;">
												<ul>
													<li value="01">外语证书</li>
													<li value="02">计算机证书</li>
													<li value="03">会计证书</li>
													<li value="04">职称证书</li>
													<li value="05">其他证书</li>
												</ul>
											</div>
										</div>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="button" placeholder="证书等级" name="certificateNature" class="profile_select_410 profile_select_normal certificateNature">
											<div class="box_certificateNature boxUpDown boxUpDown_410 dn" style="display: none;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="button" value="获取年份" name="certificateYear" class="profile_select_190 profile_select_normal certificateYear">
											<div class="box_certificateYear  boxUpDown boxUpDown_190 dn" style="display: none;">
												<ul>
													<li>至今</li><li>2017</li><li>2016</li><li>2015</li><li>2014</li><li>2013</li><li>2012</li><li>2011</li><li>2010</li><li>2009</li><li>2008</li><li>2007</li>
													<li>2006</li><li>2005</li><li>2004</li><li>2003</li><li>2002</li><li>2001</li><li>2000</li><li>1999</li><li>1998</li><li>1997</li><li>1996</li><li>1995</li><li>1994</li>
													<li>1993</li><li>1992</li><li>1991</li><li>1990</li><li>1989</li><li>1988</li><li>1987</li><li>1986</li><li>1985</li>
													<li>1984</li><li>1983</li><li>1982</li><li>1981</li><li>1980</li><li>1979</li><li>1978</li><li>1977</li><li>1976</li><li>1975</li><li>1974</li><li>1973</li><li>1972</li><li>1971</li><li>1970</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
									<td valign="top">
										<span class="redstar">*</span>
									</td>
									<td>
										<div class="fl">
											<input type="button" value="获取月份" name="certificateMonth" class="profile_select_190 profile_select_normal certificateMonth">
											<div style="display: none;" class="box_certificateMonth boxUpDown boxUpDown_190 dn">
												<ul>
													<li>01</li><li>02</li><li>03</li><li>04</li><li>05</li><li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11</li><li>12</li>
												</ul>
											</div>
										</div>
										<div class="clear"></div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="3">
										<input type="submit" value="保 存" class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
							<input type="hidden" class="certificateId" value="">
						</form>
					</div>
					<div {% if resume.certificate.length==0 %} class = "certificateAdd pAdd" {%else%}class = "certificateAdd pAdd dn" {% endif %}>
						<span>添加证书等级</span>
					</div>
				</div>

				<div class="profile_box" id="strength">
					<h2>特长技能</h2>
					<span class="c_edit"></span>
					<div class="strengthShow">
						{{resume.strength}}
					</div>
					<div class="strengthEdit dn">
						<form class="strengthForm">
							<table>
								<tbody>
								<tr>
									<td colspan="2">
										<textarea class="strength s_textarea" name="strength" placeholder=""></textarea>
										<div style="margin-top: 5px;" class="word_count">你还可以输入 <span>500</span> 字</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<input type="submit" value="保 存"  class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
						</form>
					</div>
					<div {% if resume.strength %} class = "strengthAdd pAdd dn" {%else%}class = "strengthAdd pAdd" {% endif %}>
						<span>添加特长技能</span>
					</div>
				</div>

				<div class="profile_box" id="prize">
					<h2>奖惩情况</h2>
					<span class="c_edit"></span>
					<div class="prizeShow">
						{{resume.prize}}
					</div>
					<div class="prizeEdit dn">
						<form class="prizeForm">
							<table>
								<tbody>
								<tr>
									<td colspan="2">
										<textarea class="prize s_textarea" name="prize" placeholder="奖惩情况请如实填写"></textarea>
										<div style="margin-top: 5px;" class="word_count">你还可以输入 <span>500</span> 字</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<input type="submit" value="保 存"  class="btn_profile_save">
										<a class="btn_profile_cancel" href="javascript:;">取 消</a>
									</td>
								</tr>
								</tbody></table>
						</form>
					</div>
					<div {% if resume.prize %} class = "prizeAdd pAdd dn" {%else%}class = "prizeAdd pAdd" {% endif %}>如：获奖项、技能资格证书、专利等
						<span>添加奖惩情况</span>
					</div>
				</div>

				<!--<div class="profile_box" id="worksShow">-->
					<!--<h2>作品展示</h2>-->
					<!--<span class="c_add dn"></span>-->
					<!--<div class="workShow dn">-->
						<!--<ul class="slist clearfix">-->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="workEdit dn">-->
						<!--<form class="workForm">-->
							<!--<table>-->
								<!--<tbody><tr>-->
									<!--<td>-->
										<!--<input type="text" placeholder="请输入作品链接" name="workLink" class="workLink">-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr>-->
									<!--<td>-->
										<!--<textarea maxlength="100" class="workDescription s_textarea" name="workDescription" placeholder="请输入说明文字"></textarea>-->
										<!--<div class="word_count">你还可以输入 <span>100</span> 字</div>-->
									<!--</td>-->
								<!--</tr>-->
								<!--<tr>-->
									<!--<td>-->
										<!--<input type="submit" value="保 存" class="btn_profile_save">-->
										<!--<a class="btn_profile_cancel" href="javascript:;">取 消</a>-->
									<!--</td>-->
								<!--</tr>-->
								<!--</tbody></table>-->
							<!--<input type="hidden" class="showId" value="">-->
						<!--</form>&lt;!&ndash;end .workForm&ndash;&gt;-->
					<!--</div>&lt;!&ndash;end .workEdit&ndash;&gt;-->
					<!--<div class="workAdd pAdd">-->
						<!--<span>添加作品展示</span>-->
					<!--</div>&lt;!&ndash;end .workAdd&ndash;&gt;-->
				<!--</div>&lt;!&ndash;end #worksShow&ndash;&gt;-->
				<!--<input type="hidden" id="resumeId" value="268472">-->
			</div><!--end .content_l-->
			<div class="content_r">
				<div class="mycenterR" id="myInfo">
					<h2>我的信息</h2>
					<a target="_blank" href="/jobCollect">我收藏的职位</a><br>
					<a target="_blank" href="/jobApply/0">我投递的职位</a>
				</div><!--end #myInfo-->
			</div>
		</div>
		<input type="hidden" id="userid" name="userid" value="">

		<script type="text/javascript" src="../../../javascripts/drag.js"></script>
		<script type="text/javascript" src="../../../javascripts/city_arr.js"></script>
		<script type="text/javascript" src="../../../javascripts/nationality_arr.js"></script>
		<script type="text/javascript" src="../../../javascripts/funtype_arr.js"></script>
		<script type="text/javascript" src="../../../javascripts/major_arr.js"></script>
		<script type="text/javascript" src="../../../javascripts/certificate_arr.js"></script>
		<script type="text/javascript" src="../../../javascripts/city_func.js"></script>
		<script type="text/javascript" src="../../../javascripts/funtype_func.js"></script>
		<script type="text/javascript" src="../../../javascripts/major_func.js"></script>
		<script type="text/javascript" src="../../../javascripts/school.js"></script>
		<script type="text/javascript" src="../../../javascripts/core.min.js"></script>
		<script type="text/javascript" src="../../../javascripts/ajaxfileupload.js"></script>
		<script type="text/javascript" src="../../../javascripts/additional-methods.js"></script>
		<script type="text/javascript" src="../../../javascripts/excanvas.js"></script>
		<script type="text/javascript" src="../../../javascripts/conv.js"></script>
		<script charset="UTF-8" src="../../../javascripts/ajaxCross.json"></script>
		<script type="text/javascript" src="../../../javascripts/Chart.min.js"></script>
		<script type="text/javascript" src="../../../javascripts/remodal.js"></script>
		<script type="text/javascript" src="../../../javascripts/resume.js"></script>
		<script type="text/javascript" src="../../../lib/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>

	<div class="" id="qr_cloud_resume" style="display: none;">
		<div class="cloud">
			<img width="134" height="134" src="">
			<a class="close" href="javascript:;"></a>
		</div>
	</div>
	<div class="clear"></div>
			<input type="hidden" value="success" id="resubmitToken">
	    	<a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
	</div><!-- end #container -->
	<div id="footer">
		<div class="wrapper">
			<a rel="nofollow" target="_blank" href="">联系我们</a>
		</div>
	</div>
	<div id="maskLayer" style="display:none">
		<iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
		<div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
		<div id="drag">
			<h3 id="drag_h"></h3>
			<div id="drag_con"></div><!-- drag_con end -->
		</div>
	</div><!-- maskLayer end -->
</div>
<div id="sublist" style="display:none"></div>
</body>
<script>
	//单选框按钮变色
	$('#fo2_1').find('li').click(function(){
		var fo2_res=$(this).html();
		$('input[name=type]').val(fo2_res);				
		$('#fo2_1').children('li').removeClass('current');
		$(this).addClass('current');
	});
	//AJAX提交表单
//	jQuery(function($){
//		//表单验证
//        $.extend({
//            sub : function(obj) {
//                var obj = $(obj);
//                $.ajax({
//                    url : obj.attr('action'),
//                    type : 'post',
//                    data : obj.serialize(),
//                    success : function(data) {
//                    	if(data == 1){
//                    		location.reload();
//                    	}else{
//                    		alert('输入错误,重新填写');
//                    	}
//                    }
//                })
//                return false;
//            }
//        });
//
//	});

	// set time
    var dateTimePickerConfig = {
        lang:"ch",              //语言选择中文
		format:"Y/m/d",  //格式化日期
		timepicker:false,    //关闭时间选项
        step: 5,
        yearStart:1960,         //设置最小年份
        yearEnd:2050,           //设置最大年份
        todayButton:true    //关闭选择今天按钮
    };
    $("#birthed").datetimepicker(dateTimePickerConfig);

    if(!$('#applicantname').val()){
        var inst = $('[data-remodal-id=login]').remodal();
        inst.open();
    }
</script>
</html>